{% extends 'base.html' %}


{% block styles %}
<link href="{{ url_for('static', filename = 'assets/style/voice.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="home111-voice-card">
    <div class="home111-container3">
      <img alt="image" src="{{ url_for('static', filename = 'public/playground_assets/microphone.svg') }}" class="home111-image2" />
    </div>
    <div class="home111-testimonial">
      <div class="home111-container4">
        <h1 class="home111-text">Click on Detect to Record</h1>
      </div>
      <div class="home111-deec-row">
        <div class="home111-bn-container">
          <button class="home111-button1 button">Detect</button>
        </div>
        <div class="home111-bn-container1">
          <button class="home111-button2 button">Stop</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}